
--extra-index-url https://download.pytorch.org/whl/cpu

#torch==1.10.2
torch==1.13.0+cpu
hydra-core==1.1.1
logzero ==1.7.0
pandas==1.3.5
scikit-learn==1.2.1
matplotlib==3.5.1

# for dev purposes
# pytest~=5.2
# jupyterlab~=3.3.3
# ipykernel~=6.13.0
# shap~=0.38.1
# xgboost~=1.6.1